name: Build
on: push
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
          - windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install QEMU
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install qemu-system

      - name: Install QEMU
        if: runner.os == 'macOS'
        run: |
          brew install qemu

      - name: Install QEMU
        uses: MinoruSekine/setup-scoop@v4.0.2
        with:
          apps: qemu
        if: runner.os == 'Windows'

      - name: qemu
        run: |
          qemu-img --version
          qemu-system-aarch64 --version
