name: Build
on: push
jobs:
  build-and-test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - uses: actions/checkout@v4
      - uses: knicknic/os-specific-run@v1
        with:
          macos: "brew install qemu"
          linux: "apt-get install qemu-system"
          windows: "choco install qemu"
      - name: qemu
        run: |
          qemu-system-aarch64 --version
